@import '../../../../assets/styles/main.scss';

.product {
    width: 25rem;
    height: 30rem;
    background: $white;
    margin: 0 0 4rem 4rem;
    height: 26rem;
    box-shadow: 1px 1px 5px $gray;
    cursor: pointer;
    &:hover > .product__title {
        color: $dark-blue;
    }
    @include respond(phone) {
        width: 100%;
        margin: 2rem 0;
        height: 38rem;
    }
    &__img {
        width: inherit;
        height: 20rem;
        @include respond(phone) {
            height: 30rem;
        }
    }
    &__title {
        color: $dark-text;
        font-size: 1.8rem;
        font-weight: 600;
        height: 6rem;
        @include flex(center, center, row);
        @include respond(phone) {
            height: 8rem;
            font-size: $font-size-small-header;
        }
    }
}