// Colors
$white:         #ffffff;
$gray:          #D6D6D6;
$black:         #000000;

$light-text:    #858585;
$dark-text:     #424242;

$light-blue:    #155BCC;
$dark-blue:     #164FAC;

$accent:        #2FDA7F;
$background:    #FAFAFA;
$search:        #F5F5F5;

// Fonts
$main-font:    'Roboto';
$second-font:  'Lato';
$main-weight:   300;

// Fonts size
$font-size: 1.6rem;
$font-size-content: 1.8rem;
$font-size-main: 2rem;
$font-size-small-header: 2.8rem;
$font-size-logo: 3.2rem;
$font-size-header: 4rem;
// Font weight
$font-light: 200;
$font-regular: 300;
$font-medium: 400;
$font-bold: 500;
// Browser font size
$browser-font: 58.5%; // 
$browser-phone: 43.75%; // 7/16  = 43.75%
$browser-tab-port: 50%; // 8/16  = 50.00%
$browser-tab-land: 56.25%; // 9/16  = 56.25%
$browser-big-screen: 75%; // 12/16 = 75.00%
// Transition / Animation
$base-transition: 300ms;
// Border-radius
$border-radius: 2.4rem;
$border-radius-small: 1rem;

