<div class="product-detail" *ngIf="product$ | async as product">
    <div class="product-detail__image">
        <img [src]="product.imageUrl" alt="">
    </div>
   
    <div class="product-detail__content">
        <div class="product-detail__title">
            {{ product.title }}        
        </div>
        <div class="product-detail__description">
            <p class="product-detail__description--label">
                {{ product.description }}
            </p>
            <button class="product-detail__description--button" (click)="onAddToCart()">Add to Cart</button>
        </div>
    </div>
</div>