@import '../../../../assets/styles/main.scss';

.cart-wrapper {
    width: 25rem;
    background: $light-blue;
    padding: 2rem;
    color: $white;
    @include respond(phone) {
        width: inherit;    
    }

    &__contact {
        p {
            opacity: .7;
        }
    }

    &__title {
        font-weight: 600;
    }

    &__total-price {
        padding: 2rem 0 1rem 0;
        font-weight: 600;
        font-size: $font-size-content;
        @include flex(center, flex-end, row);
        &--accent {
            color: $accent;
            margin-left: .6rem;
        }
    }

    .cart {
        width: 100%;
        min-height: 10rem;
        border: 1px dashed $white;
        margin-top: 2rem;
        &__empty {
            height: 10rem;
            @include flex(center, center, row);
            opacity: .7;
        }
        &__list {
            padding: 1rem;
        }
    }
}